/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/.org-id-locations
/anaconda-mode/
/auto-save-list/
/backups/
/bookmarks
/custom.el
/eln-cache/
/elpa/
/history
/lisp/init-private.el
/multisession/
/network-security.data
/org-roam.db
/projects
/recentf
/session.*
/tramp
/transient/
/tree-sitter/
/url/
