/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/.org-id-locations
/anaconda-mode/
/auto-save-list/
/backups/
/bookmarks
/custom.el
/diary
/eln-cache/
/elpa/
/eshell/
/history
/lisp/init-private.el
/multisession/
/network-security.data
/org-persist/
/org-roam.db
/projects
/recentf
/server/
/session.*
/straight/
/tramp
/transient/
/tree-sitter/
/url/
