/.cache/
/.emacs.desktop
/.emacs.desktop.lock
/.lsp-session-v1
/.mc-lists.el
/.org-id-locations
/anaconda-mode/
/auto-save-list/
/backups/
/bookmarks
/custom.el
/diary
/eln-cache/
/elpa/
/eshell/
/etc/
/forge-database-*.sqlite
/forge-database.sqlite
/history
/multisession/
/network-security.data
/org-persist/
/org-roam.db
/projects
/recentf
/server/
/session.*
/straight/
/tramp
/transient/
/tree-sitter/
/tutorial/
/url/
init-private.el
